./Data
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# DNX
project.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.vs/ParallelBackgroundSubtraction/v16/.suo
.vs/ParallelBackgroundSubtraction/v16/Browse.VC.db
.vs/ParallelBackgroundSubtraction/v16/Browse.VC.db-shm
.vs/ParallelBackgroundSubtraction/v16/Browse.VC.db-wal
.vs/ParallelBackgroundSubtraction/v16/Browse.VC.db
.vs/ParallelBackgroundSubtraction/v16/.suo
